<div class="dashboard-wrapper">
    <div class="dashboard-header">
        <h2>Exchange rate of <span class="mat-headline accent-color">USD/{{ cryptoId }}</span>: {{ crypto.rate  | number:'1.1-3' }}</h2>
        <button mat-flat-button color="accent" (click)="removeCryptoEvent()">Remove Currency</button>
    </div>

    <form *ngIf="cryptoToUsd" class="calculator">
        <h2 class="title">Currency Converter</h2>
        <mat-form-field class="calcfield">
            <mat-label>{{ cryptoId }}</mat-label>
            <input type="number" class="form-control" matInput [(ngModel)]="calcCrypto" name="ctu">
        </mat-form-field>
        = {{ calcCrypto * crypto.rate | number:'1.1-3' }} USD
        <button mat-flat-button color="primary" (click)="switchCalc()"><mat-icon>repeat</mat-icon></button>
    </form>
    <form *ngIf="!cryptoToUsd" class="calculator">
        <h2 class="title">Currency Converter</h2>
        <mat-form-field class="calcfield">
            <mat-label>USD</mat-label>
            <input type="number" class="form-control" matInput [(ngModel)]="calcUsd" name="utc">
        </mat-form-field>
        = {{ calcUsd / crypto.rate | number:'1.1-3' }} {{ cryptoId }}
        <button mat-flat-button color="primary" (click)="switchCalc()"><mat-icon>repeat</mat-icon></button>
    </form>

    <app-trend-chart [cryptoId]="cryptoId"></app-trend-chart>
</div>